.services {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 85px;
}

.services__item {
	position: relative;
	width: calc(50% - 5px);
}

.services__img {
	margin-bottom: 25px;
	display: block;
	width: 100%;
	height: 389px;
}

.services__text {
	font-size: 30px;
	line-height: 41px;
	color: #fff;
	text-transform: lowercase;
}

.services__text::first-letter {
	text-transform: uppercase;
}

.services__price {
	padding: 5px 20px;
	display: block;
	position: absolute;
	top: 31px;
	left: 30px;
	font-size: 22px;
	line-height: 30px;
	background-color: #AD1818;
	color: #fff;
	border-radius: 5px;
}

@media(max-width: 991px) {
	.services__img {
		height: 315px;
		object-fit: cover;
	}
}

@media (max-width: 600px) {
	.services {
		flex-direction: column;
		row-gap: 60px;
	}

	.services__item {
		width: 100%;
	}

	.services__img {
		margin-bottom: 10px;
		height: 240px;
	}

	.services__text {
		font-size: 18px;
		line-height: 24.59px;
	}

	.services__price {
		padding: 6px 24px;
		top: 23px;
		left: 24px;
		font-size: 14px;
		line-height: 19px;
	} 
}