@media (max-width: 1199px) {
	.container {
		width: 100%;
		padding: 0 16px;
	}
	.intro__title {
		max-width: 802px;
		font-size: 50px;
		line-height: 60px;
	}

	.intro__text {
		bottom: 30px;
	}

	.section {
		padding-bottom: 120px;
	}

	.about__text {
		max-width: 690px;
		font-size: 35px;
		line-height: 47px;
	}

	.project__img {
		width: 100%;
		object-fit: cover;
	}
	.project__text {
		font-size: 25px;
		line-height: 34px;
	}

	.gallery__title__wrapper {
		top: 80px;
	}

	.gallery__title {
		font-size: 20px;
		line-height: 27px;
	}

	.gallery__slides,
	.gallery__img {
		height: 536px;
	}

	.gallery__text {
		font-size: 25px;
		line-height: 34px;
	}

	.gallery__controls__wrapper {
		bottom: 152px;
	}
}

/* @media (max-width: 991px) {
	

	
} */

/* @media (max-width: 769px) {
	.intro__title {
		font-size: 40px;
		line-height: 50px;
	} */

	
/* } */

@media (max-width: 575px) {
	.container {
		padding: 0 14px 0 13px;
	}

	.section {
		padding-bottom: 80px;
	}

	.section__title {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 19px;
	}

	.intro__title {
		max-width: 348px;
		font-size: 30px;
		line-height: 31px;
		margin-bottom: 25px;
	}

	.intro__wrapper {
		width: 100%;
		height: 304px;
		background: url(../img/intro_bg_phone.jpg) no-repeat center;
		background-size: cover;
	}

	.intro__text {
		max-width: 312px;
		font-size: 16px;
		line-height: 22px;
		left: 15px;
		bottom: 15px;
	}

	.about__text {
		max-width: 346px;
		font-size: 22px;
		line-height: 30px;
	}

	.about__btn {
		padding: 15px 30px;
		font-size: 16px;
		line-height: 21px;
	}

	.project__item {
		margin-bottom: 49px;
	}

	.project__item:last-child {
		margin-bottom: 60px;
	}

	.projects__info {
		padding: 36px 0 37px 0;
		font-size: 22px;
		line-height: 30px;
	}

	.project__img {
		margin-bottom: 20px;
		height: 250px;
	}

	.project__text {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 10px;
	}

	.project__info {
		font-size: 16px;
		line-height: 22px;
	}

	.services {
		flex-direction: column;
		row-gap: 60px;
	}

	.services__item {
		width: 100%;
	}

	.services__img {
		margin-bottom: 10px;
		height: 240px;
	}

	.services__text {
		font-size: 18px;
		line-height: 24px;
	}

	.services__price {
		padding: 6px 24px;
		top: 23px;
		left: 24px;
		font-size: 14px;
		line-height: 19px;
	} 

	.section--black {
		padding-top: 80px;
	}

	.btn {
		padding: 37px 70px;
		margin-top: 60px;
		font-size: 22px;
		line-height: 31px;
	}

	.section__title--review {
		padding-top: 80px;
}

	.reviews {
		flex-direction: column;
		gap: 80px;
	}

	.review,
	.review:last-child:nth-child(2n + 1) {
		width: 100%;
	}

	.review__title {
		margin-bottom: 10px;
		font-size: 25px;
		line-height: 34px;
	}

	.review__text {
		font-size: 16px;
		line-height: 21px;
	}

	.gallery__title__wrapper {
		top: 61px;
	} 

	.gallery__title  {
		font-size: 14px;
		line-height: 19px;
	}

	.gallery__slides,
	.gallery__img {
		height: 408px;
	}

	.gallery__controls__wrapper {
		bottom: 189px;
	}

	.gallery__controls {
		justify-content: space-between;
	}

	.gallery__control-prev,
	.gallery__control-next {
		width: 30px;
		height: 30px;
	}

	.gallery__text__wrapper {
		bottom: 30px;
	}

	.gallery__text {
		font-size: 19px;
		line-height: 25px;
		width: 287px;
		height: 52px;
	}

	.footer {
		padding: 30px 0 26px;
	}

	.footer__nav {
		margin-bottom: 41px;
	}

	.footer__nav__link {
		font-size: 12px;
		line-height: 16px;
		margin-right: 30px;
	}
	.footer__nav__link:last-child {
		margin-right: 0;
	}

	.footer__copyright {
		font-size: 13px;
		line-height: 17px;
	}
}