*,
*::before,
*::after {
  box-sizing: border-box; /* Алгоритм подсчета размера блоков; отступы не будут влиять на размер блока */
}

body {
	font-family: 'Manrope';
	font-weight: 400;
}

/* Container
   ========================== */

.container {
	width: 100%;
	max-width: 1181px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header 
   ========================== */

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 33px 0 70px;
	align-items: center;
}

/* Nav
   ========================== */

.nav {
	display: flex;
}

.nav__link {
	position: relative;
	margin-right: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: #121212;
	font-size: 18px;
	line-height: 25px;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .1s linear;
}

.nav__link.active {
	opacity: .5;
}

.nav__link:hover::after,
.nav__link.active::after{
    opacity: .5;
}

/* Section
   ========================== */

.section {
	padding: 75px 0;
}

.section--black {
	padding: 150px 0;
	background-color: #121212;
}

.section--contacts {
	padding: 150px 0;
}

.section__title {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #121212;
	margin-bottom: 30px;
}

/* Intro
   ========================== */
	
.intro {
	padding-bottom: 75px;
}

.intro__inner {
	position: relative;
	background: url(../img/intro_bg.jpg) no-repeat center;
	background-size: cover;
	width: 1150px;
	height: 500px;
}

.intro__title {
	font-size: 60px;
	line-height: 60px;
	color: #121212;
	margin-bottom: 30px;
 }

.intro__text {
	position: absolute;
	left: 40px;
	bottom: 40px;
	width: 430px;
	text-align: left;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
}

/* About */

.about__text {
	font-size: 45px;
	line-height: 61px;
	color: #121212;
	margin-bottom: 30px;
}

.about__btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 27px;
	background-color: #AD1818;
	padding: 20px 40px;
	transition: background-color .2s linear;
}

.about__btn:hover {
	background-color: #e01c1c;
}

/* Projects */

.projects__info {
	margin-bottom: 75px;
	display: block;
	border: 1px solid #AD1818;
	border-radius: 5px;
	text-decoration: none;
	font-size: 30px;
	line-height: 41px;
	color: #AD1818;
	text-align: center;
	padding: 56px 125px;
	transition: background-color .2s ease-out, color .2s ease-out;
}

.projects__info:hover {
	background-color: #AD1818;
	color: #fff;
}

/* Card */

.card__item-services {
	margin-bottom: 60px;
}

.card__item-services:last-child {
	margin-bottom: 0;
}

.card__img {
	width: 1150px;
	height: 450px;
	margin-bottom: 15px;
}

.card__img--size {
	height: 270px;
}

.card__text--mb {
	margin-bottom: 0;
}

.card__text {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 41px;
	color: #121212;
	text-transform: uppercase;
}

.card__text--white {
	color: #fff;
	margin-bottom: 0px;
}

.card__info {
	display: block;
	font-size: 20px;
	line-height: 27px;
	color: #AD1818;
	text-decoration: none;
	margin-bottom: 90px;
}

.card__info:hover {
	text-decoration: underline;
}

/* Services */

.text-white {
	color: #fff;
}

/* Example */

.example {
	position: relative;
}

.example__bg {
	width: 100%;
}

.example__text {
	position: absolute;
	left: 125px;
	bottom: 60px;
	width: 443px;
	font-size: 30px;
	line-height: 41px;
	color: #fff;
}

.contact__info {
	text-decoration: none;
}

.contact__info-item {
	margin-bottom: 30px;
	
}

.contact__info-r {
	text-decoration: none;
	font-size: 60px;
	line-height: 60px;
	color: #121212;
}

.contact__info-item:hover {
	text-decoration: underline;
	opacity: .5;
}

/* Footer */

.footer {
	padding: 60px 0 30px;
	background-color: #121212;
}

.footer__nav {
	margin-bottom: 87px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__nav__link {
	margin-right: 55px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
}

.footer__nav__link:hover {
	opacity: .5;
}

.footer__nav__link:last-child {
	margin-right: 0;
}

.copyright_text {
	font-size: 20px;
	line-height: 27px;
	color: #fff;
	opacity: .5;
	text-align: center;
}

