@import url(header.css);
@import url(intro.css);
@import url(projects.css);
@import url(services.css);
@import url(reviews.css);
@import url(gallery.css);
@import url(contacts.css);
@import url(footer.css);

*,
*::before,
*::after {
  box-sizing: border-box; 
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 100%;
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
}

h1, h2, h3, p, a {
	letter-spacing: -0.03em;
}

/* Container */

.container {
	max-width: 1152px;
	margin: 0 auto;
	/* padding: 0 124px; */
}

/* Section */

.section {
	padding-bottom: 150px;
}

.section--black {
	padding: 150px 0;
	background-color: #121212;
}

.section--contacts {
	padding: 186px 0 160px;
}

.section__title {
	position: relative;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #121212;
	margin-bottom: 30px;
}

.services__title {
	margin-bottom: 34px;
	color: #fff;
}

/* About */

.about__text {
	max-width: 1048px;
	/* height: 366px; */
	font-size: 45px;
	line-height: 61px;
	color: #121212;
	margin-bottom: 30px;
}

.about__btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 27px;
	background-color: #AD1818;
	padding: 20px 40px;
	transition: background-color .2s linear;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: -0.6px;
}

.about__btn:hover {
	background-color: #e01c1c;
}

.btn {
	margin-top: 106px;
	background-color: #AD1818;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Manrope', sans-serif;
	padding: 56px 125px;
	display: block;
	text-align: center;
	cursor: pointer;
	width: 100%;
	transition: background-color .2s ease-out,
	color .2s ease-out;
}

.btn:hover {
	background-color: #fff;
	color: #AD1818;
}


.section__title--review {
	padding-top: 150px;
}


/* Fullscreen */

.fullscreen__img {
	position: relative;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 717px;
}

.fullscreen__img-text {
	position: absolute;
	left: 125px;
	bottom: 60px;
	width: 443px;
	font-size: 30px;
	line-height: 41px;
	color: #fff;
}

