@import url(header.css);
@import url(intro.css);
@import url(about.css);
@import url(projects.css);
@import url(services.css);
@import url(reviews.css);
@import url(gallery.css);
@import url(contacts.css);
@import url(footer.css);

*,
*::before,
*::after {
  box-sizing: border-box; 
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
}

.body__fixed {
	overflow: hidden;
}

h1, h2, h3, p, a {
	letter-spacing: -0.03em;
}

/* Container */

.container {
	max-width: 1152px;
	margin: 0 auto;
	/* padding: 0 124px; */
}

/* Section */

.section {
	padding-bottom: 150px;
}

.section--black {
	padding: 150px 0;
	background-color: #121212;
}

.section__title {
	position: relative;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #121212;
	margin-bottom: 30px;
}

.section__title--contacts {
	margin-bottom: 24px;
	color: #000;
}

.services__title {
	margin-bottom: 34px;
	color: #fff;
}

.btn {
	margin-top: 106px;
	background-color: #AD1818;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Manrope', sans-serif;
	padding: 56px 125px;
	display: block;
	text-align: center;
	cursor: pointer;
	width: 100%;
	transition: background-color .2s ease-out,
	color .2s ease-out;
}

.btn:hover {
	background-color: #fff;
	color: #AD1818;
}


.section__title--review {
	padding-top: 150px;
}


